<!DOCTYPE html>
<html>
<head>
    <title>Catalog App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="js/jquery-3.1.1.js">
    <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row header-row">
                <div class="col-xs-8">
                    <h1>Catalog App</h1>
                </div>
                <div class="col-xs-4 access-button">
                    <p>{{string}}</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row body-row">
                <div class="main-content">
                    <div class="col-xs-4">
                        {% block content1 %}
                        {% endblock %}
                    </div>
                    <div class="col-xs-8">
                        {% block content2 %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>